@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #ADADAD;
    margin: 0;
    height: 100%;
}

#header {
    margin: 0;
    background-color: #2E1114;
    color: #AF4767;
    height: 280px;
    text-align: center;
}

form {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
}

input[type="text"]{
    border: none;
    width: 25rem;
    height: 2.3rem;
    font-size: 1.3rem;
}

#submit-btn {
    font: inherit;
    border: none;
    background-color: #7A2640;
    color: #E1C5CE;
    border-radius: 4px 4px 4px 4px;
    margin-left: 0.8rem;
    width: 8rem;
    font-size: 1.3rem;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #AF4767;
    
}

#header h1 {
    font-size: 3rem;
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

h1 {
    text-align: center;
}

#todo {
    color: #2E1114;
    float: left;
    width: calc(50% - 1px);
    min-height: 70vh;
    border-right: 1px solid;
    border-color: #7A2640;
}

#sub-header {
    display: flex;
    justify-content: center;
}

#sub-header h1{
    margin: 0;
    margin-top: 1rem;
}

#sub-header button {
    font: inherit;
    border: none;
    color: #E1C5CE;
    border-radius: 4px 4px 4px 4px;
    margin-top: 1rem;
    width: 3.2rem;
    cursor: pointer;
}

#sort-btn:hover {
    background-color: #CB5A7C;
}

#del-btn:hover {
    background-color: #c73a48;
}

#sort-btn {
    margin-left: 1.5rem;
    background-color: #AF4767;
} 

#del-btn {
    margin-left: 0.8rem;
    background-color: #A32936;
} 

#done {
    color: #2E1114;   
    float: right;
    width: calc(50% - 1px);
    min-height: 70vh;
    border-left: 1px solid;
    border-color: #7A2640;
}

.container {
    margin: 3rem;
    margin-top: 0;
}

.fas.fa-circle {
    margin-right: 1rem;
}

p {
    font-size: 1.3rem;
    background-color: #8d183c47;
    padding: 1rem;
    border-radius: 26px 26px 26px 26px;
    width: 80%;
    margin-right: 0.8rem;
}

.task-div {
    display: flex;
}

.task-div button {    
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-finished .fas {
    font-size: 2.2rem;
    color: #753153;
    margin-right: 0.5rem;  
}

.btn-finished .fas:hover {
    color: #317551;
}

.btn-delete .fas {
    font-size: 1.8rem;
    color: #753153;
    margin: 0;  
}

.btn-delete .fas:hover {
    color: #A32936;
}